<h1>OpenID Connect Regular Web App</h1>
<p>Hello and welcome to this application. This is a OpenID Connect Client sample application that is part of the OpenID Connect Handbook.</p>
<p>To start the authentication process, <a href="/login">click here</a>.</p>
