<h1>End-User Profile</h1>
<img src="{{idToken.picture}}" alt="Profile picture" />
<ul>
    <li><strong>User Id:</strong> {{idToken.sub}}</li>
    <li><strong>User Name:</strong> {{idToken.name}}</li>
    <li><strong>User Email:</strong> {{idToken.email}}</li>
</ul>
