<h1>To-Do List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    {{#each toDos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td><a href="/remove-to-do/{{this.id}}">Delete</a></td>
        </tr>
    {{/each}}
</table>
<p>
    To see your profile again, <a href="/profile">go here</a>.
</p>
